<aside class="col-3 mt-4">
    <article class="card mb-3">
        <div class="card-header">
            Catégories
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_categorie_index') }}">Les catégories</a></p>
            <p><a href="{{ path('admin_categorie_add') }}">Ajouter une catégorie</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Plats
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_plat_index') }}">Les plats</a></p>
            <p><a href="{{ path('admin_plat_add') }}">Ajouter un plat</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_user_index') }}">Les utilisateurs</a></p>
        </div>
    </article>
</aside>