<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images_the_district/the_district_brand/logo.png') }}" alt="logo" width="100px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categorie') }}">Catégorie
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('plat') }}">Plats
                    </a>
                </li>
                {% if app.user %} 
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact
                        </a>
                    </li>
                {% endif %}
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto">
                    {% if app.user %}
                        <li class="nav-item dropdown" style="margin-right: 7.5rem">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.prenom }}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('commande', {id: app.user.id}) }}">Mes commandes</a>
                                <a class="dropdown-item" href="{{ path('panier') }}">Panier</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('admin_index') }}">Administration</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('security.logout') }}">Deconnexion</a>
                            </div>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security.login') }}">Connexion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security.register') }}">Inscription
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>