{% extends 'base.html.twig' %}

{% block title %}The District{% endblock %}

{% block body %}
    <div class="container mt-4 mb-5">
        <div class="row">
            <img src="{{ asset('images_the_district/bg1.jpeg') }}" alt="baniere">
        </div>
    </div>
    
    <div class="container mt-4 mb-5">
        <div class="row">
            <h1 class="mt-4">Nos catégories</h2>
            {% for categorie in categories %} 
                {% if categorie.active != false %}
                    <div class="col-md-4 d-flex justify-content-center">
                        <div class="card border-warning mt-4 mb-3" style="max-width: 20rem;">
                            <div class="card-header">{{ categorie.libelle }}</div>
                            <div class="card-body">
                                <a href="{{ path('categorie.plat', { id: categorie.id }) }}">
                                    <img src="{{ asset('assets/uploads/categorie/mini/300x300-') ~ categorie.image }}" alt="{{ categorie.image }}"  width="100%">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <h1 class="mt-4">Nos plats</h1>
            {% for plat in plats %}
                {% if plat.active != false and plat.categorie.active != false %}
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card border-warning mt-4 mb-3" style="max-width: 20rem;">
                        <div class="card-header">{{ plat.libelle }}</div>
                        <div class="card-body">
                            <a href="{{ path('plat.detail', { id: plat.id }) }}">
                                <img src="{{ asset('assets/uploads/plat/mini/300x300-') ~ plat.image }}" alt="{{ plat.image }}"  width="100%">
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
