{{ form_start(utilisateurForm) }}
    {{ form_row(utilisateurForm.nom) }}
    {{ form_row(utilisateurForm.prenom) }}
    {{ form_row(utilisateurForm.email) }}
    {{ form_row(utilisateurForm.telephone) }}
    {{ form_row(utilisateurForm.roles) }}
    <button type="submit" class="btn btn-primary">Modifier</button>
{{ form_end(utilisateurForm) }}