{% extends "base.html.twig" %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}
    <div class="container-fluid mt-4 mb-5">
        <div class="row">
            <h1 class="mt-4">Administration</h1>
            {% include "partials/_adminnav.html.twig" %}
            <main class="col-9">
                <h1 class="mt-4">Liste des utilisateurs</h1>
                {% for message in app.flashes('warning') %}
                    <div class="alert alert-dismissible alert-warning mt-4">
                        {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-hover mt-4">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">ID</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prenom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Télephone</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">CP</th>
                            <th scope="col">Ville</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.nom }}</td>
                                <td>{{ user.prenom }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% for role in user.roles %}
                                        {% if role == "ROLE_ADMIN" %}
                                            {% set name = "Administrateur" %}
                                            {% set color = "danger" %}
                                        {% else %}
                                            {% set name = "Membre" %}
                                            {% set color = "success" %}
                                        {% endif %}
                                        <span class="badge rounded-pill bg-{{ color }}">{{ name }}</span>
                                    {% endfor %}
                                </td>
                                <td>{{ user.telephone }}</td>
                                <td>{{ user.adresse }}</td>
                                <td>{{ user.cp }}</td>
                                <td>{{ user.ville }}</td>
                                <td><a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-warning">Modifier</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </main>
        </div>
    </div>
{% endblock %}