{{ form_start(categorieForm) }}
    {{ form_row(categorieForm.libelle) }}
    {{ form_row(categorieForm.image) }}
    {{ form_row(categorieForm.active) }}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(categorieForm) }}