{% extends "base.html.twig" %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
<div class="container mb-5">
    <div class="row">
        {% include "partials/_adminnav.html.twig" %}
        <main class="col-9">
            <h1 class="mt-4">Liste des categories</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-dismissible alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Image</th>
                        <th scope="col">Active</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td>{{ categorie.id }}</td>
                            <td>{{ categorie.libelle }}</td>
                            <td><img src="{{ asset('assets/uploads/categorie/mini/300x300-' ~ categorie.image) }}" alt="{{ categorie.libelle }}"></td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switch{{ categorie.id }}" {{ categorie.active ? "checked" : "" }} disabled>
                                    <label class="form-check-label" for="switch{{ categorie.id }}"></label>
                                </div>
                            </td>
                            <td><a href="{{ path('admin_categorie_edit', {id: categorie.id}) }}" class="btn btn-warning">Modifier</a></td>
                            <td><a href="{{ path('admin_categorie_delete', {id: categorie.id}) }}" class="btn btn-danger">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>
{% endblock %}
