{% extends "base.html.twig" %}

{% block title %}The District - Plat par catégories{% endblock %}

{% block body %}
    <div class="container mt-4 mb-5">
        <div class="row">
            <h1>Les {{ categorie.libelle }}</h1>
            {% for plat in categorie.plats %}
                {% if (plat.active != false) %}
                    <div class="col-md-4 d-flex justify-content-center">
                        <div class="card border-warning mt-4 mb-3" style="max-width: 20rem;">
                            <div class="card-header">{{ plat.libelle }}</div>
                            <div class="card-body">
                                <a href="{{ path('plat.detail', { id: plat.id }) }}">
                                    <img src="{{ asset('assets/uploads/plat/mini/300x300-') ~ plat.image }}" alt="{{ plat.image }}"  width="100%">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}